*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

h2 {
  margin-block: 30px;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #fdfdff;
  border-right: 2px solid #dde8f6;
}

.logo-box {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo-box a {
  font-size: 40px;
  color: #000;
  margin-left: 5px;
  font-weight: 500;
}

a {
  font-weight: 300;
  color: #9aa2ab;
  text-decoration: none;
  margin-left: 10px;
}

.box-link {
  display: flex;
  align-items: center;
  padding: 15px;
}

.box-link-logo {
  width: 25px;
  height: 25px;
}

.box-link-logo img {
  width: 100%;
  height: 100%;
}

.box-link.active {
  background-color: #e9e9ea;
}

.box-link.active a {
  color: #0aa43d;
  font-weight: 500;
}

.content {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100vw - 250px);
  height: 100vh;
  padding-inline: 40px;
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.input-box img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;

}

input {
  display: block;
  padding: 20px 45px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f4f4f4;
  width: 50%;
  caret-color: #2dc861;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2pt #2dc861;
}

.profile-pic {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.results table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 5px 10px;
  text-align: start;
}

tbody tr:nth-of-type(2n+1) {
  background-color: #f0f9f6;
}

.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-identity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.user-identity,
.user-mail,
.user-phone {
  flex: 1 1 150px;
}