*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background: #d1d1d1;
  padding-top: 50px;
  color: #f1f1f1;
}

h1 {
  color: #000;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 500;
}

h1 span {
  font-weight: 200;
}

/* Conteneur principal */
.container {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

/* Vidéo */
#videoContainer {
  width: 100%;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

/* Problème d'affichage constaté sur Safari après transition, la barre de contrôle disparaît. Lié à l'overflow ?*/

#videoContainer:hover .controls {
  transform: translateY(0%);
}

video:-webkit-full-screen {
  width: 100%;
  height: auto;
}

#video {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* Contrôle de la vidéo */
.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #484848;
  transform: translateY(calc(100% - 8px));
  transition: all 0.2s ease-out;
}

.controls-container {
  width: 100%;
  display: flex;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 10px;
}

button img {
  width: 20px;
  height: 20px;
}

button, input, .progress {
  cursor: pointer;
}

#time {
  font-size: 14px;
  font-variant-numeric: tabular-nums;
  cursor: default;
  padding: 10px;
}

/* Progress-bar */
.progress {
  width: 100%;
  background-color: #484848;
  height: 8px;
  border-bottom: 1px solid #000;
}

.progress-bar {
  height: 100%;
  background-color: rgb(171, 12, 12);
  transform-origin: 0;
  transform: scaleX(0);
}

.full-screen {
  margin-left: auto;
}