
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    min-height: 100vh;
    font-family: Lato, sans-serif;
    background: linear-gradient(to right, #ffefba, #ffffff); 
    padding: clamp(20px, 5vw, 50px) 20px 10px;
}

/* Conteneur principal */
.global-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Titre principal */
.main-title {
    font-size: 36px;
    margin-bottom: 50px;
}

.main-title span {
    font-weight: 300;
}

/* Formulaire */
form {
    width: 100%;
}

.form-input {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.form-input-label {
    margin-bottom: 5px;
}

input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.input-error-msg {
    color: red;
    font-weight: 700;
    margin-top: 5px;
}

.btn-grp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #006c68;
    color: #ffffff;
    margin: 20px 5px;
    cursor: pointer;
}

/* Conteneur de cookies */
.cookie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.error-msg {
    margin: 20px;
    font-size: 20px;
}

/* Cookie Card */
.card {
    width: 250px;
    /* max-width: 350px; */
    background-color: #ffffff;
    padding: 10px 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.card p {
    margin: 5px;
}

.card span {
    font-weight: 700;
}

/* Bouton de suppression de cookie */
.close-btn {
    background-color: red;
    color: #ffffff;
    padding: 3px 5px;
    font-weight: 200;
    font-size: 10px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

}

.message-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Message Box */
.message-box {
    text-align: end;
    width: fit-content;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}