*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #111;
  color: #f1f1f1;
}

/* Curseur personnalisé */
.custom-cursor {
  position: fixed;
  z-index: 10;
  width: 30px;
  height: 30px;
  border: 1px solid #f0ebeb;
  border-radius: 50%;
  pointer-events: none;
}

.custom-cursor:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

main {
  padding: 0 50px 10px 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-inline: 1px solid #9a9a9a;
  overflow: hidden;
}

header,
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding-top: 50px;
}

/* Section Home */
.home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("ressources/hero-porsche.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.nav-link a {
  color: #f1f1f1;
  text-decoration: none;
  margin: 10px;
  position: relative;
}

.nav-link a:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  height: 1px;
  width: 33%;
  background-color: #9a9a9a;
  transition: all 0.2s ease-out;

}

.nav-link a:hover:after {
  width: 100%;
  background-color: #f1f1f1;

}

/* Hero */
.hero {
  margin-top: 50px;
}

.hero-txt {
  font-size: 14px;
  font-weight: 200;
}

.hero-title {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(90deg, #9a9a9a, #fefefe);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-subtitle {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.hero-subtitle.fade-in, .down-arrow-btn.fade-in {
  opacity: 1;
}

.caret {
  height: auto;
  border: 1px solid #f1f1f1;
  margin-inline: 4px;
  border-radius: 1px;
  opacity: 1;
  animation: caret 0.6s ease-in-out 0s infinite alternate;
}

@keyframes caret {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Flêche scroll */
.down-arrow-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #9a9a9a;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

/* Styles généraux pour toutes les sections */
.sect-experience-content,
.sect-content-models {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.sect-experience-content-txt,
.sect-experience-content-img {
  font-family: Raleway, sans-serif;
  padding-inline: 30px;
  flex: 1 1 300px;
}

.sect-header h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}

.sect-header span {
  font-weight: 800;
}

.sect-header {
  margin-block: 0 50px;
}

/* Section Experience */
button {
  font-size: 16px;
  color: #f1f1f1;
  display: block;
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding: 8px 15px;
  margin-block: 50px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #9a9a9a;
  position: relative;
  margin-right: 10px;
  transition: all 0.6s ease-out;
}

button img {
  position: absolute;
  right: 10px;
  width: 16px;
  height: auto;
}

button:hover {
  background-color: #4e4e4e;
}

h3 {
  font-weight: 300;
  margin-bottom: 30px;
}

.sect-experience-content {
  opacity: 0;
  transition: opacity 2s 0.1s ease-out;
}

.sect-experience-content.opacity-anim {
  opacity: 1;
}

.sect-experience-content-txt p,
.sect-models-content-txt p {
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 200;
}

.sect-experience-content-img img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/* Section Models */
.sect-models-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block: 70px;
  transform: skewX(-25deg);
  opacity: 0;
  transition: all 0.2s ease-out;
}

.sect-models-content:nth-child(2) {
  transform: skewX(25deg);
}

.sect-models-content.slide-anim {
  transform: skewX(0);
  opacity: 1;
}

.img-left {
  flex-direction: row-reverse;
}

.sect-models-content-txt {
  font-family: Raleway, sans-serif;
  padding-inline: 15px;
  flex: 1 1 200px;
}

.sect-models-content-img {
  flex: 2 2 400px;
}

.sect-models-content-img img {
  bottom: 0;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: 50% 70%;
}

@media screen and (max-width: 450px) {
  main {
    padding-inline: 10px;
  }

  p {
    margin-bottom: 30px;
  }

  button {
    margin: 50px auto;
  }

  .sect-header {
    margin-block: 0;
  }

  .sect-header h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 26px;
  }
}

/* Suppression du curseur perso sur écrans tactiles */
@media (pointer: coarse) {
  .custom-cursor {
    display: none;
  }
}