*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Raleway, Helvetica, sans-serif;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}

.calculator {
  background-color: #f1f1f1;
  width: 50%;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px; 
}

h1 span {
  font-weight: 200;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-label {
  font-size: 10px;
  margin-bottom: 5px;
  padding-left: 5px;
}

input {
  width: 250px;
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  margin-right: 15px;
  box-shadow: 0px 0px 3px #000;
}

input:focus {
  outline: none;
  border: 1px solid #808080;
}

button {
  background-color: rgb(250 197 58);
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  box-shadow: 0px 0px 3px #000;
}

button:hover {
  background-color: #efbd3a;
  cursor: pointer;
}

.result-title {
  font-family: Lato, Helvetica, sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}

.result-text {
  text-align: center;
  font-weight: 200;
}